// Font family
$font-roboto: 'Roboto', sans-serif;

// Font size
$font-size-main: 15px;
$font-size-secondary: 14px;
$font-size-title: 21px;
$font-size-sub-text: 13px;

// transition
$transition-time: 0.2s;

// colors
$color-text: #4D4D4E;
$color-text-sub: #999999;
$color-white: #ffffff;

// link
$color-link-active: #2196F3;
$color-link-hover: #29B6F6;


// Background colors
$color-bg-main: #2196F3;
$color-bg-secondary: $color-white;
$color-bg-darker-seconday: #eeeeee;

// helper colors
$color-helper-main: #FF3E81;

// border
$color-border: #D6D5D5;
$color-border-secondary: #DDDDDD;
$border-radius: 2px;

