html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
  padding: 0 !important;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  color: initial;
}

button:focus {
  outline: none !important;
}

input {
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

// For Google Chrome default outlines
a,
button,
image {
  &:focus,
  &:active,
  &:hover {
    outline: none !important;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  display: inline-block;
  color: unset;
  text-decoration: unset;

  &[disabled] {
    opacity: 0.5;
  }
}

p {
  line-height: unset;
}
